{% extends "index.html" %}
	<body>
		{% block body %}
		<form action="" method="post">
			<input value="asd" type="text" name="reg-input-firstname" placeholder="Имя">
			<input value="asd" type="text" name="reg-input-middlename" placeholder="Фамилия">
			<input value="asd" type="text" name="reg-input-lastname" placeholder="Отчество">
			<input value="schorokhov.nikita@gmail.com" type="email" name="reg-input-email" placeholder="Почта">
			<p>{{ error_msg.email_exists }}</p>
			<input value="qwerty123" type="password" name="reg-input-passwd" placeholder="Пароль">
			<input value="qwerty123" type="password" name="reg-input-passwd-confirm" placeholder="Подтвердите пароль">
			<input value="Тестовая компания 1" type="text" name="reg-input-company" placeholder="Компания">
			<p>{{ error_msg.company_not_registered }}</p>
			<button name="registration-submit-btn" value="submit">Регистрация</button>
		</form>
		{% endblock %}
	</body>
{% block javascript %}
    <script src="{{ url_for('static', filename='js/registration.js') }}"></script>
{% endblock %}